
/ {
	aliases {
		i2s-node0 = &i2s20;
		i2c-slave = &i2c22;
    };
};

&pinctrl {
	i2s20_default: i2s20_default {
		group1 {
			psels = <NRF_PSEL(I2S_MCK, 1, 13)>,
					<NRF_PSEL(I2S_SCK_S, 1, 10)>,
					<NRF_PSEL(I2S_LRCK_S, 1, 12)>,
					<NRF_PSEL(I2S_SDOUT, 1, 11)>;
		};
	};

	i2s20_sleep: i2s20_sleep {
		group1 {
			psels = <NRF_PSEL(I2S_MCK, 1, 13)>,
					<NRF_PSEL(I2S_SCK_S, 1, 10)>,
					<NRF_PSEL(I2S_LRCK_S, 1, 12)>,
					<NRF_PSEL(I2S_SDOUT, 1, 11)>;
			low-power-enable;
		};
	};
	i2c21_default_alt: i2c21_default_alt {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 8)>,
				<NRF_PSEL(TWIM_SCL, 1, 9)>;
		};
	};

	i2c21_sleep_alt: i2c21_sleep_alt {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 8)>,
				<NRF_PSEL(TWIM_SCL, 1, 9)>;
			low-power-enable;
		};
	};

};

&i2s20 {
	status = "okay";
	pinctrl-0 = <&i2s20_default>;
	pinctrl-1 = <&i2s20_sleep>;
	pinctrl-names = "default", "sleep";
};

&i2c21 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c21_default_alt>;
	pinctrl-1 = <&i2c21_sleep_alt>;
	pinctrl-names = "default", "sleep";
	tlv320: tlv320@18 {
        compatible = "i2c-device";
        status = "okay";
		reg = <0x18>;
	};
};
